@{
    ViewData["Title"] = "Home Page";
}

<div class="justify-content-center text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to SmartStock, your all-in-one solution for efficient product management. 
        With our easy-to-use web app, you can effortlessly keep track of your products, streamline your operations, 
        and stay on top of your inventory at all times.
    </p>
</div>
